<section class="section-about section" id="about-us">
  <div class="about-section-wrapper container">
    <div class="about-section-text">
      <h2 class="title-about">about us</h2>
      <p class="text-about-one text-about">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life
        with new zest and style. Our store offers a wide selection of high-quality and authentic
        embroidery, which combines the elegance of traditional needlework and modern design.
      </p>
      <p class="text-about-two text-about">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern,
        corresponding to the latest fashion trends. Our embroidery is made using natural fabrics and
        is embroidered by highly qualified craftsmen who convey the beauty of Ukrainian culture in
        every detail.We believe that vyshyvanka is not just clothing, but a symbol of national
        pride, the heritage of our ancestors and a way of expressing one's individuality. Each
        embroidery from "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it
        a special meaning.
      </p>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="./img/about-desc.jpg 1x, ./img/about-desc@2x.jpg 2x"
        width="594"
      />
      <source
        media="(min-width: 768px) and (max-width: 1279px)"
        srcset="./img/about-tab.jpg 1x, ./img/about-tab@2x.jpg 2x"
        width="704"
      />
      <source
        media="(max-width: 767px)"
        srcset="./img/about-mob.jpg 1x, ./img/about-mob@2x.jpg 2x"
        width="335"
      />

      <img src="./img/about-mob.jpg " alt="Vyshyvanka" width="335" height="499" />
    </picture>
  </div>
</section>
