<section class="our-collection section" id="our-collection">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-menu list">
      <li class="collection-list">
        <div class="collection-img-wrapper">
          <div class="our-background"></div>
          <img
            class="our-collection-item-img"
            srcset="
              ./img/august-mob.jpg     335w,
              ./img/about-tab.jpg      342w,
              ./img/august-desc.jpg    347w,
              ./img/august-mob@2x.jpg  670w,
              ./img/august-tab@2x.jpg  684w,
              ./img/august-desc@2x.jpg 694w
            "
            sizes="(min-width: 1280px) 345px, (min-width: 768px) 340px, (max-width: 767px) 335px"
            src="./img/august-mob.jpg"
            alt="August"
          />
        </div>
        <div class="our-collection-content">
          <h3 class="our-collection-item-name">AUGUST Poltava women's blouseRING</h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list">
        <div class="collection-img-wrapper">
          <img
            class="our-collection-item-img"
            srcset="
              ./img/gorgany-mob.jpg     335w,
              ./img/gorgany-tab.jpg     342w,
              ./img/gorgany-desc.jpg    347w,
              ./img/gorgany-mob@2x.jpg  670w,
              ./img/gorgany-tab@2x.jpg  684w,
              ./img/gorgany-desc@2x.jpg 694w
            "
            sizes="(min-width: 1280px) 345px, (min-width: 768px) 340px, (max-width: 767px) 335px"
            src="./img/gorgany-mob.jpg"
            alt="Gorgany"
          />
        </div>
        <div class="our-collection-content">
          <h3 class="our-collection-item-name">WOMEN'S BLOUSE GORGANY</h3>
          <p class="collection-price">3350 UAH</p>
        </div>
      </li>
      <li class="collection-list">
        <div class="collection-img-wrapper">
          <img
            class="our-collection-item-img"
            srcset="
              ./img/crimea-mob.jpg     335w,
              ./img/crimea-tab.jpg     342w,
              ./img/crimea-desc.jpg    347w,
              ./img/crimea-mob@2x.jpg  670w,
              ./img/crimea-tab@2x.jpg  684w,
              ./img/crimea-desc@2x.jpg 694w
            "
            sizes="(min-width: 1280px) 343px, (min-width: 768px) 340px, (max-width: 767px) 335px"
            src="./img/crimea-mob.jpg"
            alt="Crimea"
          />
        </div>
        <div class="our-collection-content">
          <h3 class="our-collection-item-name">WOMEN'S BLOUSE CRIMEA</h3>
          <p class="collection-price">4000 UAH</p>
        </div>
      </li>
      <li class="collection-list">
        <div class="collection-img-wrapper">
          <img
            class="our-collection-item-img"
            srcset="
              ./img/verkhovina-mob.jpg     335w,
              ./img/verkhovina-tab.jpg     342w,
              ./img/verkhovina-desc.jpg    347w,
              ./img/verkhovina-mob@2x.jpg  670w,
              ./img/verkhovina-tab@2x.jpg  684w,
              ./img/verkhovina-desc@2x.jpg 694w
            "
            sizes="(min-width: 1280px) 345px, (min-width: 768px) 340px, (max-width: 767px) 335px"
            src="./img/verkhovina-mob.jpg"
            alt="Verkhovina"
          />
        </div>
        <div class="our-collection-content">
          <h3 class="our-collection-item-name">MEN'S SHIRT VERKHOVINA</h3>
          <p class="collection-price">3100 UAH</p>
        </div>
      </li>
      <li class="collection-list">
        <div class="collection-img-wrapper">
          <img
            class="our-collection-item-img"
            srcset="
              ./img/shirt-mob.jpg     335w,
              ./img/shirt-tab.jpg     342w,
              ./img/shirt-desc.jpg    347w,
              ./img/shirt-mob@2x.jpg  670w,
              ./img/shirt-tab@2x.jpg  684w,
              ./img/shirt-desc@2x.jpg 694w
            "
            sizes="(min-width: 1280px) 343px, (min-width: 768px) 340px, (max-width: 767px) 335px"
            src="./img/shirt-mob.jpg"
            alt="Mountain"
          />
        </div>
        <div class="our-collection-content">
          <h3 class="our-collection-item-name">MOUNTAIN MEN'S SHIRT</h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list">
        <div class="collection-img-wrapper">
          <img
            class="our-collection-item-img"
            srcset="
              ./img/yasen-mob.jpg     335w,
              ./img/yasen-tab.jpg     342w,
              ./img/yasen-desc.jpg    347w,
              ./img/yasen-mob@2x.jpg  670w,
              ./img/yasen-tab@2x.jpg  684w,
              ./img/yasen-desc@2x.jpg 694w
            "
            sizes="(min-width: 1280px) 343px, (min-width: 768px) 340px, (max-width: 767px) 335px"
            src="./img/yasen-mob.jpg"
            alt="Yasen"
          />
        </div>
        <div class="our-collection-content">
          <h3 class="our-collection-item-name">MEN'S SHIRT YASEN</h3>
          <p class="collection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
