<footer class="footer-content">
  <div class="container-holder">
    <ul class="site-links list link">
      <div>
        <li class="footer-list"><a class="footer-link link" href="#section1">About us</a></li>
        <li class="footer-list"><a class="footer-link link" href="#section2">Our collection</a></li>
      </div>
      <div>
        <li class="footer-list">
          <a class="footer-link link" href="#section3"> CUSTOMER ORDER</a>
        </li>
        <li class="footer-list"><a class="footer-link link" href="#section4">TEstimonials</a></li>
      </div>
    </ul>
    <p class="text-footer">
      A touch of <br />
      <span class="style-text-footer">Ukrainian</span> culture in every embroidery
    </p>
  </div>
</footer>
