<header class="page-header">
  <div class="container header-container">
    <img class="logo" src="./img/logo.svg" alt="Company's logo" width="44" height="39" />
    <div class="menu-container">
      <button type="button" class="svg-button-head">
        <svg class="close-icon" width="36" height="36">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav>
        <ul class="nav-list list">
          <li class="nav-item"><a href="#about-us" class="nav-link">About Us</a></li>
          <li class="nav-item"><a href="#our-collection" class="nav-link">Our Collection</a></li>
          <li class="nav-item"><a href="#your-order" class="nav-link">Customer Order</a></li>
          <li class="nav-item"><a href="#testimonials" class="nav-link">Testimonials</a></li>
        </ul>
      </nav>
      <address class="tel-number">
        <a class="tel-link" href="tel:+380684439426"
          >+38 (068) 443-94-26 <span class="tel-link-span">Copied!</span></a
        >
      </address>
    </div>
    <div class="social-links-and-burger-container">
      <ul class="social-links-list list">
        <li class="social-links-item">
          <a href="https://www.facebook.com/goITclub/" class="social-link" target="_blank">
            <svg class="social-links-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-item">
          <a href="https://www.instagram.com/goitclub/" class="social-link" target="_blank">
            <svg class="social-links-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-item">
          <a href="https://www.youtube.com/c/GoIT" class="social-link" target="_blank">
            <svg class="social-links-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="svg-button-head">
        <svg class="menu-icon" width="36" height="24">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
