<section class="section hero">
  <div class="container hero-container">
    <div class="hero-container-group">
      <div class="hero-title-container">
        <h1 class="hero-title">
          Reviving the traditional <span class="hero-title-span">Ukrainian</span> artistry in every
          stitch.
        </h1>

        <a class="btn-order link" href="#you-order"
          >Order
          <svg class="icon-arrow" width="24" height="16">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>

      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./img/girl-desc.jpg 1x, ./img/girl-desc@2x.jpg 2x"
          width="392"
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="./img/girl-tab.jpg 1x, ./img/girl-tab@2x.jpg 2x"
          width="413"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/girl-mob.jpg 1x, ./img/girl-mob@2x.jpg 2x"
          width="335"
        />
        <img
          class="girl-green"
          src="./img/girl-mob.jpg"
          alt="Дівчина в вишиванці"
          width="335"
          height="545"
        />
      </picture>
    </div>

    <div class="hero-group-image">
      <div class="hero-icon-description-container">
        <svg class="icon-hero" width="52" height="51">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p class="description">all embroidery is made by hand</p>
      </div>

      <picture>
        <source
          media="(min-width:1280px)"
          srcset="./img/hero-image-desc.png 1x, ./img/hero-image-desc@2x.png 2x"
          width="139"
        />
        <source
          media="(min-width:768px)"
          srcset="./img/hero-image-tab.png 1x, ./img/hero-image-tab@2x.png 2x"
          width="139"
        />

        <img
          class="hero-img-vishivanka"
          src="./img/hero-image-tab.png"
          alt="Українська вишиванка"
          width="139"
          height="197"
        />
      </picture>
    </div>
  </div>
</section>
