<!-- === SECTION TESTIMONIALS === -->
<section class="testimonials-section" id="testimonials">
  <div class="container container-testimonials">
    <h2 class="testimonials-heading">Testimonials</h2>
    <ul class="testimonials-list list">
      <li class="testimonials-list-item">
        <picture class="testimonials-list-avatar">
          <source
            media="(min-width: 1280px)"
            srcset="./img/maria-desc.png 1x, ./img/maria-desc@2x.png 2x"
            width="64"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="./img/maria-tab.png 1x, ./img/maria-tab@2x.png 2x"
            width="64"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/maria-mob.png 1x, ./img/maria-mob@2x.png 2x"
            width="64"
          />
          <img src="./img/maria-mob.png" alt="Maria Tkachuk" />
        </picture>
        <h3 class="testimonials-list-fullname">Maria Tkachuk</h3>
        <p class="testimonials-list-desc">
          I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka Vibes. They
          have models for every taste - from classic to modern. I bought an embroidered dress to
          celebrate a special occasion and received impeccable service and refinement in every
          detail.
        </p>
      </li>
      <li class="testimonials-list-item testimonials-list-sergey">
        <picture class="testimonials-list-avatar">
          <source
            media="(min-width: 1280px)"
            srcset="./img/sergey-desk.png 1x, ./img/sergey-desk@2x.png 2x"
            width="64"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="./img/sergey-tab.png 1x, ./img/sergey-tab@2x.png 2x"
            width="64"
          />
          <img src="./img/sergey-tab.png" alt="Sergey Rybachok" />
        </picture>
        <h3 class="testimonials-list-fullname">Sergey Rybachok</h3>
        <p class="testimonials-list-desc">
          Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply masterpieces! I
          fell in love with the quality of the materials and the skill of the artisans behind each
          product. This is my favorite embroidery shop where I always find something special and
          unique.
        </p>
      </li>
      <li class="testimonials-list-item testimonials-list-natalia">
        <picture class="testimonials-list-avatar">
          <source
            media="(min-width: 1280px)"
            srcset="./img/nat-desc.png, ./img/nat-desc@2x.png 2x"
            width="64"
          />
          <img src="./img/nat-desc.png" alt="Natalia Chatuk" />
        </picture>
        <h3 class="testimonials-list-fullname">Natalia Chatuk</h3>
        <p class="testimonials-list-desc">
          Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture. Their
          embroidery reflects the spirit and traditions of our people. I not only buy embroidered
          shirts for myself, but also give them to my friends abroad as a symbol of our beauty and
          national pride.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- === /SECTION TESTIMONIALS/ === -->
