.section-about {
  background-image: url('../img/orn-about-mob.png');
  background-repeat: no-repeat;
  background-position: bottom -62px right 0;
  padding-bottom: 62px;
  margin-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.title-about {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: inherit;
  margin-bottom: 40px;
}
.text-about {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  width: 335px;
  color: rgba(252, 249, 249, 0.4);
}
.text-about-one {
  margin-bottom: 20px;
}
.text-about-two {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section-about {
    background-image: url('../img/orn-about-tab.png');
    background-position: bottom -50px right 0px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .text-about {
    font-size: 16px;
    width: 704px;
  }
  .text-about-two {
    margin-bottom: 40px;
  }
  .title-about {
    font-size: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .about-section-wrapper {
    display: flex;
    column-gap: 50px;
  }
  .section-about {
    background-image: url(../img/orn-about-desc.png);
    background-position: bottom -80px right 0px;
    padding-bottom: 80px;
    margin-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .text-about {
    width: 436px;
  }
  .text-about-two {
    margin-bottom: 0;
  }
  .about-section-text {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
