.footer-content {
  background: url('../img/orn-foot-mob.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 40px;
  padding-bottom: 280px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
}

.container-holder {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-container-list {
  display: flex;
  flex-direction: column;
}

.site-links {
  margin-bottom: 40px;
  row-gap: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-list {
  width: calc((100% - 40px) / 2);
}

.footer-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
  color: #fcf9f9;
}

.footer-link:hover,
.footer-link:focus {
  color: #ecd979;
}

.text-footer {
  color: #fcf9f9;
  width: 335px;
  font-size: 44px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.32px;
}

.style-text-footer {
  color: #ecd979;
}
