.footer-content {
  background: url('../img/orn-foot-mob.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 40px;
  padding-bottom: 280px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
}

.container-holder {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-container-list {
  display: flex;
  flex-direction: column;
}

.site-links {
  margin-bottom: 40px;
  row-gap: 25px;
  column-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-list {
  width: calc((100% - 88px) / 2);
}

.footer-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
  color: #fcf9f9;
}

.footer-link:hover,
.footer-link:focus {
  color: #ecd979;
}

.text-footer {
  color: #fcf9f9;
  width: 100%;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}

.style-text-footer {
  color: #ecd979;
}

/* =======FOOTER TABLET======= */
@media screen and (min-width: 768px) {
  .container-holder {
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin: auto;
  }
  .site-links {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 25px;
    margin-bottom: 0;
    padding-bottom: 117px;
    padding-top: 40px;
  }
  .footer-list {
    width: auto;
  }
  .text-footer {
    width: 521px;
    font-size: 54px;
    line-height: 1.18;
    letter-spacing: -0.03em;
  }
  .footer-content {
    background: url('../img/orn-foot-tab.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 370px;
  }
}
/* =======/FOOTER TABLET======= */
/* =======FOOTER DESKTOP======= */
@media screen and (min-width: 1280px) {
  .container-holder {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin: auto;
  }

  .text-footer {
    width: 754px;
    font-size: 64px;
    line-height: 1.15;
    letter-spacing: -0.03em;
  }
  .footer-content {
    background: url('../img/orn-foot-desc.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 370px;
  }
}
/* =======/FOOTER DESKTOP======= */
