/* Стили для содержимого подвала */
.footer-content {
  background: url('../img/orn-foot-mob.png'); /* Фоновое изображение */
  background-repeat: no-repeat; /* Не повторять фон */
  background-position: center bottom; /* Положение фона */
  padding-top: 40px; /* Внутренний отступ сверху */
  padding-bottom: 280px; /* Внутренний отступ снизу */
  border-top: 1px solid rgba(252, 249, 249, 0.1); /* Верхняя граница */
}

/* Контейнер подвала */
.container-holder {
  padding-left: 20px; /* Внутренний отступ слева */
  padding-right: 20px; /* Внутренний отступ справа */
}

/* Список элементов в подвале */
.footer-container-list {
  display: flex; /* Отображение элементов в строку */
  flex-direction: column; /* Направление элементов */
}

/* Ссылки на сайт */
.site-links {
  margin-bottom: 40px; /* Внутренний отступ снизу */
  row-gap: 25px; /* Горизонтальный отступ между элементами */
  column-gap: 40px; /* Вертикальный отступ между элементами */
  display: flex; /* Отображение элементов в строку */
  flex-wrap: wrap; /* Обертка элементов по нескольку строкам */
  flex-direction: row; /* Направление элементов */
}

/* Элемент списка в подвале */
.footer-list {
  width: calc((100% - 88px) / 2); /* Ширина списка */
}

/* Ссылка в подвале */
.footer-link {
  font-size: 14px; /* Размер шрифта */
  font-style: normal; /* Обычный стиль */
  font-weight: 400; /* Нормальный текст */
  line-height: 1.28; /* Межстрочный интервал */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавное изменение цвета */
  text-transform: uppercase; /* Преобразование текста в верхний регистр */
  color: #fcf9f9; /* Цвет текста */
}

/* При наведении на ссылку в подвале */
.footer-link:hover,
.footer-link:focus {
  color: #ecd979; /* Изменение цвета текста */
}

/* Текст в подвале */
.text-footer {
  color: #fcf9f9; /* Цвет текста */
  width: 100%; /* Ширина */
  font-size: 44px; /* Размер шрифта */
  font-weight: 400; /* Нормальный текст */
  line-height: 1.22; /* Межстрочный интервал */
  letter-spacing: -0.03em; /* Межбуквенное расстояние */
}

/* Стили для текста в подвале */
.style-text-footer {
  color: #ecd979; /* Цвет текста */
}

/* Медиа-запросы для планшетов */
@media screen and (min-width: 768px) {
  .container-holder {
    padding-left: 32px; /* Внутренний отступ слева */
    padding-right: 32px; /* Внутренний отступ справа */
    margin-left: auto; /* Автоматический отступ слева */
    margin-right: auto; /* Автоматический отступ справа */
  }

  .site-links {
    display: inline-flex; /* Отображение элементов в строчку */
    flex-wrap: nowrap; /* Запрет оборачивания элементов */
    gap: 25px; /* Отступ между элементами */
    margin-bottom: 0; /* Убрать внутренний отступ снизу */
    padding-bottom: 117px; /* Внутренний отступ снизу */
    padding-top: 40px; /* Внутренний отступ сверху */
  }

  .footer-list {
    width: auto; /* Автоматическая ширина */
  }

  .text-footer {
    width: 521px; /* Ширина текста */
    font-size: 54px; /* Размер шрифта */
    line-height: 1.18; /* Межстрочный интервал */
    letter-spacing: -0.03em; /* Межбуквенное расстояние */
  }

  .footer-content {
    background: url('../img/orn-foot-tab.png'); /* Фоновое изображение */
    background-repeat: no-repeat; /* Не повторять фон */
    background-position: center right; /* Положение фона */
    padding-top: 0px; /* Внутренний отступ сверху */
    padding-bottom: 0px; /* Внутренний отступ снизу */
    height: 370px; /* Высота */
  }
}

/* Медиа-запросы для десктопов */
@media screen and (min-width: 1280px) {
  .container-holder {
    padding-left: 100px; /* Внутренний отступ слева */
    padding-right: 100px; /* Внутренний отступ справа */
    margin-left: auto; /* Автоматический отступ слева */
    margin-right: auto; /* Автоматический отступ справа */
  }

  .text-footer {
    width: 754px; /* Ширина текста */
    font-size: 64px; /* Размер шрифта */
    line-height: 1.15; /* Межстрочный интервал */
    letter-spacing: -0.03em; /* Межбуквенное расстояние */
  }

  .footer-content {
    background: url('../img/orn-foot-desc.png'); /* Фоновое изображение */
    background-repeat: no-repeat; /* Не повторять фон */
    background-position: center right; /* Положение фона */
    padding-top: 0px; /* Внутренний отступ сверху */
    padding-bottom: 0px; /* Внутренний отступ снизу */
    height: 370px; /* Высота */
  }
}
