.section-order {
  background-image: none;
  background-size: 322px 484px;
  background-position: bottom 100px left 0;
  background-repeat: no-repeat;
}

.img-title-container {
  margin: 0 auto;
  max-width: 375px;
  height: 550px;
  background-image: url(../img/girl-gr-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 80px;
}

.section-order-padding {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-style {
  display: flex;
  flex-direction: column-reverse;
}

.img-order-container {
  display: none;
}

/* .orn-background {
  position: absolute;
  bottom: 0;
  left: -32px;
  z-index: 9999;
  width: 322px;
  height: 484px;
  background-image: url(../img/orn-order-tab.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.img-product-container {
  height: 600px;
}

.img-product {
  display: block;
  width: 638px;
  margin-left: auto;
}

.order-form-container {
}

.order-title {
  width: 100%;
  margin-bottom: 40px;

  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
}

.order-title-span {
  color: #ecd979;
}

.order-form {
}

.user-input {
  width: 100%;
  display: block;
  padding: 14px 16px;
  margin-bottom: 20px;

  color: #fcf9f9;
  font-weight: 400;
  background-color: transparent;
  border: 1px rgba(252, 249, 249, 0.1) solid;
  border-radius: 15px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input:focus-within {
  border-color: rgba(252, 249, 249, 0.6);
}

.textarea-comment {
  width: 100%;
  margin-bottom: 40px;
  height: 196px;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-order-btn {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  padding: 14px 39px;

  color: #fcf9f9;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px rgba(252, 249, 249, 0.1) solid;
  border-radius: 15px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-order-btn:focus,
.form-order-btn:hover {
  border-color: #ecd979;
}

.icon-arrow-order {
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  .img-title-container {
    background-image: url(../img/girl-gr-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .img-title-container {
    background-image: url(../img/girl-gr-tab.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .img-title-container {
    background-image: url(../img/girl-gr-tab@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .img-title-container {
    background-image: url(../img/girl-gr-desc.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .img-title-container {
    background-image: url(../img/girld-gr-desc@2x.jpg);
  }
}

@media screen and (min-width: 375px) {
  .img-title-container {
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .section-order {
    background-image: url(../img/orn-order-tab.png);
  }

  .section-order-padding {
    max-width: 768px;
    padding: 0 32px;
  }

  .img-title-container {
    height: 776px;
    max-width: 768px;
    margin-bottom: 100px;
  }

  .img-order-container {
    display: block;
  }

  .section-style {
    flex-direction: column-reverse;
    row-gap: 100px;
  }

  .order-title {
    width: 542px;

    font-size: 44px;
    font-weight: 500;
    line-height: 53px;
  }

  .user-input {
    width: 508px;
  }

  .form-order-btn {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .section-order {
    background-image: url(../img/orn-order-desc.png);
    background-position: bottom 150px left 0;
  }

  .section-order-padding {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 100px;
  }

  .img-title-container {
    max-width: 1280px;
    margin-bottom: 150px;
  }

  .section-style {
    flex-direction: row;
    column-gap: 50px;
  }

  .img-product {
    width: 524px;
    margin: 0;
  }

  .order-title {
    height: 174px;
  }

  .orn-background {
    bottom: 0;
    left: -65px;
  }
}
